@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
  max-width: 100%;
}

body {
  color: #111827;
  background: #f9fafb;
  font-family: var(--font-geist-sans), system-ui, sans-serif;
}
